       body {
        font-family: cursive, sans-serif;
        font-size: 130%;
        box-sizing: border-box;
        background-color: #f6f4f4;
        margin: 0;
        padding: 0;
        height: 100%;
      }
      .container {
        background-color: #fff;
        width: 650px;
        height: 30rem;
        margin: auto;
        border-radius: 1rem;
        box-shadow: 10px #232323;
      }
      .wrapper {
        padding: 5rem;
        margin: 0 auto;
        margin-top: 100px;
        width: 550px;
      }
      label {
        width: 200px;
        float: left;
        position: relative;
        top: 12px;
      }
      input {
        width: 330px;
        font-size: 25px;
        border: 2px solid #333;
        border-radius: 0.5rem;
        padding: 0.1rem 0.1rem 0.7rem 0.1rem;
      }
      .formele {
        display: flex;
        justify-content: space-evenly;
        margin: 0 0 1rem 0;
      }
      #submitbtn {
        width: 150px;
        margin-left: 210px;
        padding: 0.3rem 0.1rem 0.3rem 0.1rem;
      }
      /* #msg {
        display: flex;
        justify-content: space-evenly;
      }  */
      #errors {
        color: red;
        font-size: 1.2rem;
        width: 100%;
        padding: 1rem;
      }
      #sucess {
        color: green;
        font-size: 1.2rem;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
